langchain
langchain_community
langgraph
langchain-openai
langchain-anthropic
streamlit
openai
duckduckgo_search # for online searching
google-api-python-client # for google services like calendar
google-auth-httplib2 
google-auth-oauthlib
rouge-score # for evaluation
wikipedia
arxiv